Repository microsoft/vscode-react-native, pull requests merged in 2020-04, with the labels that each got.

#1247 Fix smoke tests for Expo 37 SDK
  test/smoke/package/config.json
  test/smoke/package/package.json
  test/smoke/package/src/debugAndroid.test.ts
  test/smoke/package/src/debugIos.test.ts
  test/smoke/package/src/helpers/appiumHelper.ts
  test/smoke/package/yarn.lock
Labels: expo, tests

#1255 Prepare for 0.15.0
  CHANGELOG.md
  package-lock.json
  package.json
  release/ThirdPartyNotices.txt
Labels: prerelease

#1259 Add CDP message handler to proxy
  package-lock.json
  package.json
  src/cdp-proxy/CDPMessageHandlers/ICDPMessageHandler.ts
  src/cdp-proxy/CDPMessageHandlers/rnCDPMessageHandler.ts
  src/cdp-proxy/reactNativeCDPProxy.ts
  src/debugger/appWorker.ts
  src/debugger/forkedAppWorker.ts
  src/debugger/rnDebugSession.ts
  src/debugger/scriptImporter.ts
  src/extension/appLauncher.ts
  test/runTest.ts
Labels: js-debug-migration

#1261 Prepare for direct debugger migration
  src/cdp-proxy/CDPMessageHandlers/directCDPMessageHandler.ts
  src/cdp-proxy/CDPMessageHandlers/rnCDPMessageHandler.ts
  src/debugger/debugSessionBase.ts
  src/debugger/direct/directDebugAdapter.ts
  src/debugger/direct/directDebugSession.ts
  src/debugger/direct/directSessionWrapper.ts
  src/debugger/direct/reactNativeDirectDebugEntryPoint.ts
  src/debugger/rnDebugSession.ts
  src/extension/rn-extension.ts
  src/extension/rnDebugAdapterDescriptorFactory.ts
  tsconfig.json
  tslint.json
Labels: js-debug-migration
